<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <article>
        <div class='section_phone'>
            <div class='section_phone_header'>
                <p>Celulares en descuento</p>
                <a href="#">VER MÁS</a>
            </div>
            <div class="section_phone_items">
                <div class="section_phone_item">
                    <div class="section_phone_item_img">
                        <img class="primary" src="../img/S22-ULTRA-V_1.png" alt="Samsung Galaxy S22 Ultra" width="200px">
                        <img src="../img/20230630-FlagCashback.png" alt="Cashback" width="100px"> 
                        <img src="../img/20230630-FlagCero.png" alt="0 interes" width="100px"> 
                    </div>
                    <div class="section_phone_items_desc">
                        <div class="section_phone_items_desc_opt">
                            <div class="section_phone_items_desc_opt_cont section_phone_items_desc_opt_color1"></div>
                        
                        </div>
                        <h1 class='section_phone_item_title'>Samsung Galaxy S22 Ultra 256GB</h1>
                        <h3 class="section_phone_item_price">$6.149.900</h3>
                        <small class="small_iva">IVA Incluido</small>
                    </div>
                </div>
                <div class="section_phone_item">
                    <div class="section_phone_item_img">
                        <img class="primary" src="../img/S22-ULTRA-V_1.png" alt="iPhone 14 PRO MAX" width="200px">
                        <img src="../img/20230630-FlagCashback.png" alt="Cashback" width="100px"> 
                        <img src="../img/20230630-FlagCero.png" alt="0 interes" width="100px"> 
                    </div>
                    <div class="section_phone_items_desc">
                        <div class="section_phone_items_desc_opt">
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color1"></div>
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color2"></div>
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color3"></div>
                        </div>
                        <h1 class='section_phone_item_title'>iPhone 14 PRO MAX 256GB</h1>
                        <h3 class="section_phone_item_price">$7.299.901</h3>
                        <small class="small_iva">IVA Incluido</small>
                    </div>
                </div>
                <div class="section_phone_item">
                    <div class="section_phone_item_img">
                        <img class="primary" src="../img/G52_GARDENIA_2.png" alt="Samsung Galaxy A32" width="200px">
                        <img src="../img/20230630-FlagCashback.png" alt="Cashback" width="100px"> 
                        <img src="../img/20230630-FlagCero.png" alt="0 interes" width="100px"> 
                    </div>
                    <div class="section_phone_items_desc">
                        <div class="section_phone_items_desc_opt">
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color1"></div>
                            <div class="section_phone_items_desc_opt_cont
                             section_phone_items_desc_opt_color2"></div>
                            <div class="section_phone_items_desc_opt_cont
                             section_phone_items_desc_opt_color3"></div>
                        </div>
                        <div class="section_phone_item_desc_cont1">
                            <h1 class='section_phone_item_title'>Samsung Galaxy A32</h1>
                        </div>
                        <div class="section_phone_item_cont2">
                            <h3 class="section_phone_item_cont2_price">$849.900</h3>
                            <div class="section_phone_item_cont2_descuento">-50% DTO</div>
                        </div>
                        <small class="small_iva">IVA Incluido</small>
                        <h3 class="section_phone_item_title_finaly">
                            <span> Regular</span>
                            <span class="line"> $1.699.900</span>
                        </h3>
                    </div>
                </div>
                <div class="section_phone_item">
                    <div class="section_phone_item_img">
                        <img class="primary" src="../img/G52_GARDENIA_1.png" alt="Motorola G52 6/128GB" width="200px">
                        <img  src="../img/20230630-FlagCashback.png" alt="Cashback" width="100px"> 
                        <img  src="../img/20230630-FlagCero.png" alt="0 interes" width="100px"> 
                    </div>
                    <div class="section_phone_items_desc">
                        <div class="section_phone_items_desc_opt">
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color1"></div>
                            <div class="section_phone_items_desc_opt_cont 
                            section_phone_items_desc_opt_color2"></div>
                          
                        </div>
                        <div class="section_phone_item_desc_cont1">
                            <h1 class='section_phone_item_title'>Motorola G52 6/128GB</h1>
                        </div>
                        <div class="section_phone_item_cont2">
                            <h3 class="section_phone_item_cont2_price">$849.900</h3>
                            <div class="section_phone_item_cont2_descuento">-50% DTO</div>
                        </div>
                        <small class="small_iva">IVA Incluido</small>
                        <h3 class="section_phone_item_title_finaly" >
                            <span> Regular</span>
                            <span class="line"> $1.699.900</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>

</html>